<a href="https://colab.research.google.com/github/analyst-anna/analytics-projects/blob/main/Yandex_taxi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Указываем путь к файлу, который уже есть в Colab
file_path = '/content/yandex_taxi (1).csv'

# Загружаем файл
df = pd.read_csv(file_path, on_bad_lines='skip')

# Просмотр данных
print(f"Загружен файл: {file_path}")
print(f"Размер датасета: {df.shape}")
print(f"Строк: {df.shape[0]}, Столбцов: {df.shape[1]}")
print("\nСтолбцы:")
for i, col in enumerate(df.columns):
    print(f"  {i+1:2d}. {col}")

print("\nПервые 3 строки:")
print(df.head(3))
print("\n" + "="*50)
print("ИНФОРМАЦИЯ О ДАТАСЕТЕ:")
print("="*50)
print(df.info())
print("\n" + "="*50)
print("СТАТИСТИКА:")
print("="*50)
print(df.describe())

Загружен файл: /content/yandex_taxi (1).csv
Размер датасета: (8000, 1)
Строк: 8000, Столбцов: 1

Столбцы:
   1. Date and time of start of the trip;Coordinate of start of the trip;Coordinate of end of the trip;Length of the trip;Weather;Time in a day;Day of the week;Demand;Cost;start_lat;start_lon;end_lat;end_lon

Первые 3 строки:
                                                  Date and time of start of the trip;Coordinate of start of the trip;Coordinate of end of the trip;Length of the trip;Weather;Time in a day;Day of the week;Demand;Cost;start_lat;start_lon;end_lat;end_lon
11.11.2024 23:55;(59.937390 30.360035);(59.804680   30.279073);15.51680328281609;cloudy;evening;S...
03.11.2024 3:15;(59.930425  30.358578);(59.924898   30.353040);0.8516902619384852;cloudy;night;Fr...
15.11.2024 10:32;(59.942846 30.299823);(59.793490   30.249374);19.25830479016321;sunny;morning;We...

==================================================
ИНФОРМАЦИЯ О ДАТАСЕТЕ:
==================================================
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8000 entries, ('11.11.2024 23:55;(59.937390', ' 30.360035);(59.804680') to ('19.11.2024 13:19;(59.794247', ' 30.251754);(59.846653')
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                                                     --------------  -----
 0   Date and time of start of the trip;Coordinate of start of the trip;Coordinate of end of the trip;Length of the trip;Weather;Time in a day;Day of the week;Demand;Cost;start_lat;start_lon;end_lat;end_lon  8000 non-null   object
dtypes: object(1)
memory usage: 734.9+ KB
None

==================================================
СТАТИСТИКА:
==================================================
       Date and time of start of the trip;Coordinate of start of the trip;Coordinate of end of the trip;Length of the trip;Weather;Time in a day;Day of the week;Demand;Cost;start_lat;start_lon;end_lat;end_lon
count                                                8000
unique                                               8000
top      30.303231);3.7073966742524056;sunny;evening;M...
freq                                                    1

Приводим данные в табличную форму

In [ ]:
import pandas as pd
df = pd.read_csv('yandex_taxi.csv', on_bad_lines='skip')
print(f'Столбцов в заголовке: {len(df.columns)}')
print(df.head())

Столбцов в заголовке: 1
                                                  Date and time of start of the trip;Coordinate of start of the trip;Coordinate of end of the trip;Length of the trip;Weather;Time in a day;Day of the week;Demand;Cost;start_lat;start_lon;end_lat;end_lon
11.11.2024 23:55;(59.937390 30.360035);(59.804680   30.279073);15.51680328281609;cloudy;evening;S...
03.11.2024 3:15;(59.930425  30.358578);(59.924898   30.353040);0.8516902619384852;cloudy;night;Fr...
15.11.2024 10:32;(59.942846 30.299823);(59.793490   30.249374);19.25830479016321;sunny;morning;We...
26.11.2024 10:16;(59.935855 30.304162);(59.806697   30.277012);15.040192131762945;snow;morning;Su...
30.11.2024 5:40;(59.971625  30.307775);(59.929293   30.356130);6.39671287199955;cloudy;night;Thur...

In [ ]:
df = pd.read_csv('yandex_taxi.csv', sep=';')

In [ ]:
print(f'Столбцов: {len(df.columns)}')
print(df.columns.tolist())

Столбцов: 13
['Date and time of start of the trip', 'Coordinate of start of the trip', 'Coordinate of end of the trip', 'Length of the trip', 'Weather', 'Time in a day', 'Day of the week', 'Demand', 'Cost', 'start_lat', 'start_lon', 'end_lat', 'end_lon']

Проводим очистку данных

Ошибка вызвана несуществующей датой 2024-11-31 (в ноябре 30 дней).
Обработаем дату с errors='coerce' для замены некорректных значений на NaT. Удалим строки с некорректными данными

In [ ]:
df['Date and time of start of the trip'] = pd.to_datetime(df['Date and time of start of the trip'], format='%d.%m.%Y %H:%M', errors='coerce')

In [ ]:
print(df[df['Date and time of start of the trip'].isna()])

     Date and time of start of the trip Coordinate of start of the trip  \
18                                  NaT          (59.796638, 30.255461)
63                                  NaT          (59.963248, 30.309680)
174                                 NaT          (60.010487, 30.388775)
203                                 NaT          (59.937526, 30.352002)
241                                 NaT          (59.930206, 30.354171)
...                                 ...                             ...
7888                                NaT          (59.801330, 30.252203)
7948                                NaT          (59.939242, 30.320880)
7951                                NaT          (59.853309, 30.265940)
7970                                NaT          (59.796891, 30.266302)
7972                                NaT          (59.837138, 30.268148)

     Coordinate of end of the trip  Length of the trip Weather Time in a day  \
18          (59.809536, 30.270079)            1.859693  cloudy     afternoon
63          (59.849311, 30.281954)           15.721579    rain       evening
174         (60.005134, 30.395695)            0.823698  cloudy       evening
203         (59.929321, 30.367405)            1.304800   sunny     afternoon
241         (59.940410, 30.314728)            2.815642  cloudy         night
...                            ...                 ...     ...           ...
7888        (59.932539, 30.311667)           16.844452   sunny       evening
7948        (59.799651, 30.255577)           17.305015   sunny     afternoon
7951        (59.857315, 30.266222)            0.520329   sunny     afternoon
7970        (59.936449, 30.325472)           16.309015  cloudy       morning
7972        (59.949684, 30.305966)           12.940528   sunny       morning

     Day of the week    Demand         Cost  start_lat  start_lon    end_lat  \
18            Friday -0.118131   361.508382  59.796638  30.255461  59.809536
63            Friday -0.774425  1067.443764  59.963248  30.309680  59.849311
174           Friday -0.169285   352.726568  60.010487  30.388775  60.005134
203           Friday -0.106922   363.827512  59.937526  30.352002  59.929321
241           Friday -0.070990   381.823142  59.930206  30.354171  59.940410
...              ...       ...          ...        ...        ...        ...
7888          Friday -0.149497   900.464119  59.801330  30.252203  59.932539
7948          Friday -0.093705   886.027046  59.939242  30.320880  59.799651
7951          Friday -0.092062   320.000000  59.853309  30.265940  59.857315
7970          Friday -0.093913   909.055237  59.796891  30.266302  59.936449
7972          Friday -0.073521   762.263978  59.837138  30.268148  59.949684

        end_lon
18    30.270079
63    30.281954
174   30.395695
203   30.367405
241   30.314728
...         ...
7888  30.311667
7948  30.255577
7951  30.266222
7970  30.325472
7972  30.305966

[263 rows x 13 columns]

In [ ]:
df = df.dropna(subset=['Date and time of start of the trip'])

 Анализ и обработка пропусков

In [ ]:
# 1. Проверим пропуски
print("Пропуски по столбцам ДО очистки:")
print(df.isnull().sum())

# 2. Удалим строки с пропусками в ключевых столбцах
key_columns = ['start_lat', 'start_lon', 'end_lat', 'end_lon', 'Cost', 'Length of the trip']
df = df.dropna(subset=key_columns)

# 3. Проверим результат
print("\nПропуски по столбцам ПОСЛЕ очистки:")
print(df.isnull().sum())

Пропуски по столбцам ДО очистки:
Date and time of start of the trip     0
Coordinate of start of the trip        0
Coordinate of end of the trip          0
Length of the trip                    30
Weather                                0
Time in a day                          0
Day of the week                        0
Demand                                 0
Cost                                  19
start_lat                              0
start_lon                              0
end_lat                                0
end_lon                                0
dtype: int64

Пропуски по столбцам ПОСЛЕ очистки:
Date and time of start of the trip    0
Coordinate of start of the trip       0
Coordinate of end of the trip         0
Length of the trip                    0
Weather                               0
Time in a day                         0
Day of the week                       0
Demand                                0
Cost                                  0
start_lat                             0
start_lon                             0
end_lat                               0
end_lon                               0
dtype: int64

Работа с категориальными признаками

In [ ]:
# 1. Приведем к нижнему регистру и уберем пробелы
categorical_cols = ['Weather', 'Time in a day', 'Day of the week']
for col in categorical_cols:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.lower()

# 2. Проверим уникальные значения
print("\nУникальные значения:")
for col in categorical_cols:
    if col in df.columns:
        print(f"\n{col}: {df[col].unique()}")

Уникальные значения:

Weather: ['cloudy' 'sunny' 'snow' 'rain']

Time in a day: ['evening' 'night' 'morning' 'afternoon']

Day of the week: ['saturday' 'friday' 'wednesday' 'sunday' 'thursday' 'monday' 'tuesday']

Верификация координат

In [ ]:
# Установим разумные границы для Санкт-Петербурга
LAT_MIN, LAT_MAX = 59.7, 60.2
LON_MIN, LON_MAX = 30.1, 30.6

# Посчитаем строки с выбросами ДО фильтрации
print(f"Строк до фильтрации координат: {len(df)}")

# Отфильтруем выбросы
df = df[
    (df['start_lat'].between(LAT_MIN, LAT_MAX)) &
    (df['start_lon'].between(LON_MIN, LON_MAX)) &
    (df['end_lat'].between(LAT_MIN, LAT_MAX)) &
    (df['end_lon'].between(LON_MIN, LON_MAX))
]

print(f"Строк после фильтрации координат: {len(df)}")

Строк до фильтрации координат: 7688
Строк после фильтрации координат: 7688

Проверка логики данных и аномалий

In [ ]:
# 1. Проверим корреляцию длины и стоимости
correlation = df['Length of the trip'].corr(df['Cost'])
print(f"\nКорреляция между длиной и стоимостью: {correlation:.3f}")

# 2. Удалим очевидные аномалии
df = df[
    (df['Length of the trip'] > 0.1) &  # Минимальная разумная длина
    (df['Length of the trip'] < 100) &  # Максимальная разумная длина
    (df['Cost'] > 50) &                 # Минимальная разумная стоимость
    (df['Cost'] < 10000)                # Максимальная разумная стоимость
]

print(f"Строк после удаления аномалий: {len(df)}")

Корреляция между длиной и стоимостью: 0.982
Строк после удаления аномалий: 7688

Создание новых признаков

In [ ]:
# 1. Извлечем временные признаки из даты
df['hour'] = df['Date and time of start of the trip'].dt.hour
df['day_of_week_num'] = df['Date and time of start of the trip'].dt.dayofweek
df['month'] = df['Date and time of start of the trip'].dt.month

# 2. Создадим признаки времени суток
def time_of_day_period(hour):
    if 5 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 17:
        return 'afternoon'
    elif 17 <= hour < 23:
        return 'evening'
    else:
        return 'night'

df['time_period'] = df['hour'].apply(time_of_day_period)

# 3. Проверим результат
print("\nСозданные признаки:")
print(df[['hour', 'day_of_week_num', 'month', 'time_period']].head())

Созданные признаки:
   hour  day_of_week_num  month time_period
0    23                0     11       night
1     3                6     11       night
2    10                4     11     morning
3    10                1     11     morning
4     5                5     11     morning

Делаем разворот таблицы для создания полилиний

In [ ]:
# Создаем уникальный ID для каждой поездки
df['id_trip'] = df.index + 1

# Создаем таблицу для стартовых точек
df_start = df[['id_trip', 'start_lat', 'start_lon', 'Date and time of start of the trip']].copy()
df_start = df_start.rename(columns={
    'start_lat': 'lat',
    'start_lon': 'lon',
    'Date and time of start of the trip': 'timestamp'
})
df_start['point_type'] = 'start'
df_start['point_order'] = 1  # Порядок точек в линии

# Создаем таблицу для конечных точек
df_end = df[['id_trip', 'end_lat', 'end_lon', 'Date and time of start of the trip']].copy()
df_end = df_end.rename(columns={
    'end_lat': 'lat',
    'end_lon': 'lon',
    'Date and time of start of the trip': 'timestamp'
})
df_end['point_type'] = 'end'
df_end['point_order'] = 2  # Порядок точек в линии

# Объединяем
df_long = pd.concat([df_start, df_end], ignore_index=True)

# Сортируем по id_trip и порядку точек
df_long = df_long.sort_values(['id_trip', 'point_order'])

print(f"Строк после разворота: {len(df_long)}")
print(df_long.head(10))

Строк после разворота: 15376
      id_trip        lat        lon           timestamp point_type  \
0           1  59.937390  30.360035 2024-11-11 23:55:00      start
7688        1  59.804680  30.279073 2024-11-11 23:55:00        end
1           2  59.930425  30.358578 2024-11-03 03:15:00      start
7689        2  59.924898  30.353040 2024-11-03 03:15:00        end
2           3  59.942846  30.299823 2024-11-15 10:32:00      start
7690        3  59.793490  30.249374 2024-11-15 10:32:00        end
3           4  59.935855  30.304162 2024-11-26 10:16:00      start
7691        4  59.806697  30.277012 2024-11-26 10:16:00        end
4           5  59.971625  30.307775 2024-11-30 05:40:00      start
7692        5  59.929293  30.356130 2024-11-30 05:40:00        end

      point_order
0               1
7688            2
1               1
7689            2
2               1
7690            2
3               1
7691            2
4               1
7692            2

In [ ]:
df_long.to_csv('taxi_trips_long_format_15376_rows.csv', index=False, encoding='utf-8')
print(f"Сохранено {len(df_long)} строк в CSV файл")

Сохранено 15376 строк в CSV файл

Финальная проверка

In [ ]:
print("="*50)
print("ИТОГОВАЯ СТАТИСТИКА:")
print(f"Размер датасета: {df.shape}")
print(f"\nТипы данных:\n{df.dtypes}")
print(f"\nСтатистика числовых полей:\n{df.describe()}")
print(f"\nПервые 5 строк:\n{df.head()}")

==================================================
ИТОГОВАЯ СТАТИСТИКА:
Размер датасета: (7688, 18)

Типы данных:
Date and time of start of the trip    datetime64[ns]
Coordinate of start of the trip               object
Coordinate of end of the trip                 object
Length of the trip                           float64
Weather                                       object
Time in a day                                 object
Day of the week                               object
Demand                                       float64
Cost                                         float64
start_lat                                    float64
start_lon                                    float64
end_lat                                      float64
end_lon                                      float64
hour                                           int32
day_of_week_num                                int32
month                                          int32
time_period                                   object
id_trip                                        int64
dtype: object

Статистика числовых полей:
      Date and time of start of the trip  Length of the trip       Demand  \
count                               7688         7688.000000  7688.000000
mean       2024-11-16 02:46:28.712278784           10.173313    -0.165175
min                  2024-11-01 00:05:00            0.500000    -0.978502
25%                  2024-11-08 12:04:00            3.479148    -0.160638
50%                  2024-11-16 01:25:30            8.667755    -0.103455
75%                  2024-11-23 18:41:45           16.511650    -0.079578
max                  2024-11-30 23:58:00           32.018432    -0.048198
std                                  NaN            7.651987     0.180772

              Cost    start_lat    start_lon      end_lat      end_lon  \
count  7688.000000  7688.000000  7688.000000  7688.000000  7688.000000
mean    679.203904    59.914525    30.317303    59.915575    30.318262
min     320.000000    59.778490    30.223335    59.780154    30.227643
25%     443.992659    59.850628    30.273454    59.851219    30.274747
50%     627.613882    59.934125    30.313731    59.934500    30.313957
75%     893.481187    59.966414    30.358009    59.967192    30.358851
max    1603.828593    60.025638    30.416934    60.025101    30.421323
std     271.749069     0.068467     0.044533     0.068366     0.044632

              hour  day_of_week_num   month      id_trip
count  7688.000000      7688.000000  7688.0  7688.000000
mean     11.615765         3.116025    11.0  4000.467612
min       0.000000         0.000000    11.0     1.000000
25%       6.000000         1.000000    11.0  2005.750000
50%      12.000000         3.000000    11.0  3997.500000
75%      18.000000         5.000000    11.0  6005.250000
max      23.000000         6.000000    11.0  8000.000000
std       6.975836         1.967424     0.0  2310.756236

Первые 5 строк:
  Date and time of start of the trip Coordinate of start of the trip  \
0                2024-11-11 23:55:00          (59.937390, 30.360035)
1                2024-11-03 03:15:00          (59.930425, 30.358578)
2                2024-11-15 10:32:00          (59.942846, 30.299823)
3                2024-11-26 10:16:00          (59.935855, 30.304162)
4                2024-11-30 05:40:00          (59.971625, 30.307775)

  Coordinate of end of the trip  Length of the trip Weather Time in a day  \
0        (59.804680, 30.279073)           15.516803  cloudy       evening
1        (59.924898, 30.353040)            0.851690  cloudy         night
2        (59.793490, 30.249374)           19.258305   sunny       morning
3        (59.806697, 30.277012)           15.040192    snow       morning
4        (59.929293, 30.356130)            6.396713  cloudy         night

  Day of the week    Demand         Cost  start_lat  start_lon    end_lat  \
0        saturday -0.210378   896.256161  59.937390  30.360035  59.804680
1          friday -0.083528   339.144060  59.930425  30.358578  59.924898
2       wednesday -0.072508  1013.955708  59.942846  30.299823  59.793490
3          sunday -0.590949   960.604227  59.935855  30.304162  59.806697
4        thursday -0.065995   511.358728  59.971625  30.307775  59.929293

     end_lon  hour  day_of_week_num  month time_period  id_trip
0  30.279073    23                0     11       night        1
1  30.353040     3                6     11       night        2
2  30.249374    10                4     11     morning        3
3  30.277012    10                1     11     morning        4
4  30.356130     5                5     11     morning        5

Сохранение очищенных данных

In [ ]:
df.to_csv('yandex_taxi_cleaned.csv', index=False, encoding='utf-8')
print("\nДанные сохранены в файл: yandex_taxi_cleaned.csv")

Данные сохранены в файл: yandex_taxi_cleaned.csv